@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import 'vue-multiselect/dist/vue-multiselect.min.css';
@import 'vue-loading-overlay/dist/vue-loading.css';
